.no-underline-link {
    text-decoration: none; /* Esto quita el subrayado */
    color: inherit; /* Opcional: Para asegurar que herede el color del texto si lo tienes definido en el <h2> */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1efef;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.barraCurvaLogin::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #4068f8;
    border-radius: 50% 50% 0 0;
    transform: scale(1.5);
    z-index: -1;
}

.cardContainerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
    z-index: 1;
    background: #fff;
    padding: 32px 24px 24px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
    width: 500px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.cardContainerLogin h1, .cardContainerLogin h2, .cardContainerLogin h3 {
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    color: #191c16;
}

.cardContainerLogin h2 {
    font-size: 1.3rem;
    margin-top: 0;
    padding-top: 8px;
}

.cardContainerLogin h3 {
    font-size: 1.1rem;
    margin-top: 28px;
    margin-bottom: 14px;
    color: #4068f8;
}

.cardContainerLogin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardContainerLogin form input[type="text"],
.cardContainerLogin form .password-input-container input {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background: #f9f9f9;
    transition: border 0.2s;
    transition: background-color 0.3s ease;
}

.cardContainerLogin input:focus {
    border: 1.5px solid #4068f8;
    outline: none;
    background: #fff;
}

.cardContainerLogin .submit-button {
    display: block;
    width: 35%;
    padding: 12px;
    background-color: #4068f8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

.cardContainerLogin .submit-button:hover {
    background-color: #5b7efa;
}

.logoLogin {
    max-width: 300px;
    margin-bottom: 30px;
}

p {
    color: #474747;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}


/* Estilos para el nuevo footer/enlace de Login Cliente y Servicio Técnico */
.login-footer {
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-align: right;
    z-index: 10;
}

.login-link {
    color: #e0e0e0;
    font-size: 0.95em;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.login-link:hover {
    color: #b7b8bd;
    text-decoration: underline;
}

/* Estilo para contraseña */
.password-input-container {
    position: relative;
    width: 106%;
    align-items: center;
    justify-content: center;
}

.password-input-container input {
    width: 100%;
    box-sizing: border-box;
}

.password-toggle-button {
    position: absolute;
    right: 85px !important;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-toggle-button:hover {
    background-color: transparent;
}

.password-toggle-button img {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}

.password-toggle-button:hover img {
    transform: scale(1.1);
}


/* Responsive */

@media (max-width: 650px) {
    .cardContainerLogin {
        width: 90%;
        max-width: 400px;
        padding: 20px 10px 15px 10px;
        margin-top: 20px; 
    }
}