html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1efef;
    position: relative;
    overflow-y: auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.cardContainerWarranty {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    z-index: 1;
    background: #fff;
    padding: 32px 24px 24px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
    width: 600px;
    margin: auto;
}

.cardContainerWarranty h2{
    color: #324bab;
    margin-bottom: 20px;
}

.cardContainerWarranty form {
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the inputs horizontally */
    width: 100%; /* Ensure the form takes up the full width of its parent */
}

.cardContainerWarranty form label {
    text-align: left; /* Aligns the text to the left */
    font-weight: bold; /* Makes the text bold */
    width: 100%; /* Ensures the label takes full width to allow left alignment */
    margin-top: 3px;
    margin-bottom: 3px; /* Optional: Add some space below the label */
    margin-left: 24%;
    color: #324bab;
}


.cardContainerWarranty form input[type="text"],
.cardContainerWarranty form input[type="number"] {
    width: 70%;
    padding: 15px;
    margin: 12px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background: #f9f9f9;
    transition: border 0.2s;
    transition: background-color 0.3s ease;
}
/* Barra de búsqueda de Compañía asociada */
.customer-search-container{
    width: 100%;
    margin-left: 24% !important;
    position: relative;
}

.cardContainerWarranty form select {
    width: 76%;
    padding: 15px;
    margin: 12px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background: #f9f9f9;
    transition: border 0.2s;
    transition: background-color 0.3s ease;
}

.cardContainerWarranty form input[type="date"] {
    width: 70%;
    padding: 15px;
    margin: 12px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background: #f9f9f9;
    transition: border 0.2s;
    transition: background-color 0.3s ease;
}

.cardContainerWarranty form input[type="file"] {
    width: 70%;
    padding: 15px;
    margin: 12px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background: #f9f9f9;
    transition: border 0.2s;
    transition: background-color 0.3s ease;
}

.search-container {
    display: flex;
    align-items: center;
    width: 76%;
    gap: 8px;
    justify-content: center;
}
.search-container input {
    flex: 1;
    margin: 0;
    height: 35%;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: #4068f8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    height: 100%;
    box-sizing: border-box;
}

.search-button:hover {
    background-color: #5b7efa;
}

.inputWarranty {
    display: block;
    width: 35%;
    padding: 12px;
    background-color: #4068f8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

.inputWarranty:hover {
    background-color: #5b7efa;
}

#barCode {
    margin: 0;
}

.rif-container {
    display: flex;
    width: 76%;
    gap: 8px;
    align-items: center;
}

.rif-type {
    flex: 2;
}

.rif-number{
    flex: 5;
}

.rif-container select,
.rif-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f9f9f9;
    box-sizing: border-box;
    margin: 0;
    height: 100% !important;
    width: 100% !important;
}

.required-asterisk {
  color: #ff4d4f;
  margin-left: 3px;
  font-weight: bold;
}



/* Responsive */

@media (max-width: 650px) {
    .cardContainerWarranty {
        width: 90%;
        max-width: 400px;
        padding: 20px 10px 15px 10px;
        margin-top: 20px; 
    }
}